{% if user %}

    <div class="user-details">
        <span>Welcome, {{ user.name }}</span>
        {% if user.role != 'user' %}
            <br /><small>Role: <b>{{ user.role |capitalize }}</b></small>
        {% endif %}
    </div>

    <div class="profile-dropdown">
        <button class="profile-button">
            👤
        </button>
        <div class="dropdown-content">
            <a href="/profile/settings">Profile Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
{% else %}
    <div class="profile-dropdown">
        <button class="profile-button">
            👤
        </button>
        <div class="dropdown-content">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>
{% endif %}
