{% if user and user.role != 'user' %}
<div class="moderator-menu">
    <div class="moderator-menu-container">
        <a href="/moderate/requests">Prayer Requests</a>
        <a href="/moderate/settings">Settings</a>
        {% if user.role == 'admin' %}
            <a href="/users">Users</a>
        {% endif %}
    </div>
</div>
{% endif %}