<div class="tab-bar">
    <a href="/prayers" class="tab {% if currentTab == 'prayers' %}active{% endif %}">Prayers</a>
    <a href="/praises" class="tab {% if currentTab == 'praises' %}active{% endif %}">Praises</a>
</div>
