{% extends "base.twig" %}

{% block title %}Praise Report Success{% endblock %}

{% block content %}
    
  <h1>{{ message }}</h1>
  <p><a href="{{ home_url }}">Go back to the praise report list</a></p>

{% endblock %}