<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Prayer Wall{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>

    <div class="header">
        <div class="container">
            
            <a href="/" class="header-title">
                PrayWall
            </a>

            <div class="menu">
                {{ include('partials/main_navigation_menu.twig') }}
            </div>

        </div>
    </div>

    <div class="container">

        {% if errors is defined and errors %}
            {% for error in errors %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if messages is defined and messages %}
            {% for message in messages %}
                <div class="message">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>